
    .card {
        margin: 20px 0px;
        width: 500px;
        padding: 20px;
        border-radius: 20px;
        justify-content: center;
        font-family: 'Raleaway', sans-serif;

        .crud {
            margin-top: 20px;
            justify-content: center;
            button {
                padding: 5px 10px;
                margin: 0px 20px;
            }
            .undo {
                background-color: black;
                align-items: center;
                padding: 5px 10px;
                border-radius: 10px;
            }
            a{
                color: white;
            }
        }

    }

