.body {
    overflow-x: hidden;
}

.flex {
    display: flex;
}


.column {
    flex-direction: column;
}

.wrapper {
        width: 80%;
        padding: 50px 0px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: space-between;
  }
  .wrapper_api {
      width: 80%;
      padding: 0px 0px;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      justify-content: space-between;
  }

  .add_btn{
      position: fixed;
      bottom: 50px;
      right: 30px;
      z-index: 99;
      font-size: 32px;
      border: none;
      outline: none;
      background-color: purple;
      color: white;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 50%;
      a {
          color: white;
      }
      a:hover {
          color: black;
          transition: 0.5s;
      }
  }

