.navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background: rgb(21, 128, 71);
    border: 1px solid black;

    a {
        display: block;
        flex-grow: 1;
        padding: 1rem;
        font-family: sans-serif;
        font-size: 1.2rem;
        text-align: center;
        text-decoration: none;
        color: lightyellow;

        &:hover {
            background: rgb(17, 160, 17);
            color: white;
        }
    }
}